<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="realworld.ZPM">
    <Module>
      <Name>realworld</Name>
      <Version>1.0.2</Version>
      <Description>InterSystems IRIS Full-stack Realworld app demo</Description>
      <Keywords>REST,Full-stack,vue,angular,react</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Conduit.PKG"/>
      <WebApplication CookiePath="/conduit/" DefaultTimeout="900" DispatchClass="Conduit.API.disp" MatchRoles=":{$globalsDbRole}" PasswordAuthEnabled="0" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" UnauthenticatedEnabled="1" Url="/conduit" UseSessionCookie="2"/>
      <UnitTest Name="/tests" Package="UnitTest" Phase="test"/>
    </Module>
  </Document>
</Export>
